<!-- Begin Direction Details-->
<section id="about-israel" class="about-israel">
    <div class="content-wrapper text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
              <div class="col-md-8 col-xs-8">
                <h3>About Tel Aviv and Jaffa</h3>
                <h5>The people, the architecture, the food and the beach - all these make Tel Aviv a very special place to visit.</h5>
                <h5>The venue is conveniently located close to the beach, awesome restaurants and bars, Jaffa port and the Old City, and many more attractions for you to explore.</h5><br>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/jaffaport.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="250">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/jaffastreets.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/telaviv.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Links</h4>
                        <div class="col-md-4 col-xs-12">
                            <h5>Food</h5>
                            <h6><a href="http://www.haaretz.com/israel-news/travel/food-drink/the-best-hummus-spots-in-tel-aviv-and-beyond.premium-1.469525" target="_blank">Hummus</a></h6>
                            <h6><a href="https://www.tripadvisor.com/Restaurants-g293984-Tel_Aviv_Tel_Aviv_District.html" target="_blank">Tel Aviv Restaurants</a></h6>
                            <h6><a href="https://www.tripadvisor.com/Restaurants-g297749-Jaffa_Tel_Aviv_Tel_Aviv_District.html" target="_blank">Jaffa Restaurants</a></h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Guides & Tips</h5>
                            <h6><a href="http://www.planetware.com/tourist-attractions-/tel-aviv-jaffa-yafo-isr-ta-t.htm" target="</h6>_blank">Tel Aviv Guide</a>
                            <h6><a href="https://www.touristisrael.com/jaffa-yafo-tel-aviv/360/" target="_blank">Jaffa Guide</a></h6>
                            <h6><a href="https://www.tripadvisor.com/Travel_Guide-g293977-Israel.html" target="_blank">Israel Guide</a></h6>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <h5>Leisure</h5>
                            <h6><a href="http://timeout.co.il/en/attractions/lifes-beach" target="_blank">Beaches</a></h6>
                            <h6><a href="https://www.secrettelaviv.com/magazine/blog/best-bars-and-clubs/" target="_blank">Bars and Clubs</a></h6>
                            <h6><a href="https://www.secrettelaviv.com/magazine/blog/cocktail-bars/" target="_blank">Cocktails</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
