<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>Accessibility</h3>
            <h6>The conference venue is wheelchair accessible. If you require any other special assistance or accessibility, please be sure to let us know by May 25th so our team will be ready to accommodate your needs. 
            <br>
            For more information please <a style="font-weight: bold;" href=" mailto:nur@angular-up.com " target="_blank">contact us</a></h6>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
