<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1  location-description text-left">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <!--<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
                        <li>
                          <a href="http://www.knasim.com/Conference_Venues/panorama.html" target="_blank">Driving & Parking information (hebrew)</a>
                        </li>
                        <li>
                          <a href="https://www.google.co.il/maps/@32.0628792,34.7615057,3a,75y,314.77h,76.06t/data=!3m6!1e1!3m4!1sRva6mQceLpYK03iB9-oAhQ!2e0!7i13312!8i6656?hl=iw" target="_blank">Dolphinarium parking</a>
                        </li>
                        <li>
                          <a href="http://www.ahuzot.co.il/Parking/ParkingDetails/?ID=14" target="_blank">Ha-Kovshim parking</a>
                        </li>
                        <li>
                          <a href="http://www.ahuzot.co.il/Parking/ParkingDetails/?ID=46" target="_blank">Ein Yaaok parking</a>
                        </li>
                    </ul>
                </div>
<!--                 <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
 -->
                <a class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->
