<section id="venue">
  <div id="venue-details">
    <div><img src="img/venue/dan-panorama-logo.png" alt="Dan Panorama Tel Aviv"></div>
    <br>
    <h5>November 15th, <a href="http://www.danhotels.com/TelAvivHotels/DanPanoramaTelAvivHotel/">Dan Panorama Hotel</a>, HaMered St 33, Tel Aviv-Yafo</h5>
    <p class="directions"><b>Google Maps</b> and <b>Waze</b> would provide much better directions and public transit information than we ever could ;-)</p>
  </div>
  <div id="map"></div>
</section>

<!-- <section id="venueDetails">
<div class="content-wrapper">
<div class="col-lg-10 col-lg-offset-1">
<h3>Getting there</h3>
<p></p>
</div>
</div>
<div class="content-wrapper">
<div class="col-lg-10 col-lg-offset-1">
<h3>Parking Lots</h3>
<p>Hotel parking - 40 a day</p>
<p>Dolphinarium parking - 15 a day</p>
</div>
</div>
</section>
<!-- End Venue Section --> -->
