<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div id="organizers">
                {% for organizer in site.data.organizers %}
                <div class="organizers-{{ organizer.class }}">
                    <h5>{{ organizer.group }}</h5>
                    <ul class="list-inline">
                        {% for element in organizer.elements %}
                        <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                            <a href="{{ element.link }}" target="_blank">
                                <img class="organizer-image" src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                            </a>
                            {% if element.title %}
                                <h6>{{ element.title }}</h6>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <a href="{{ site.c4sponsorsUrl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>

            <div id="sponsors" class="partners-sponsors">
                <h3>{{ site.partnersTitle }}</h3>
                {% for partner in site.data.partners %}
                <div class="partners-{{ partner.class }}">
                    <h5>{{ partner.group }}</h5>
                    <ul class="list-inline">
                        {% for element in partner.elements %}
                        <li {% if element.scale != null %}style="transform: scale({{ element.scale }});"{% endif %}>
                            <a href="{{ element.link }}" target="_blank">
                                <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                            </a>
                        </li>
                        {% assign check = forloop.index | modulo:3 %}
                        {% if check == 0 %}{% if forloop.length > 4 %} <div></div> {% endif %}{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Partners Section -->
