<section id="about-israel" class="about-israel">
    <div class="content-wrapper text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
              <div class="col-md-8 col-xs-8">
                <h3>Angular Israel Tour</h3>
                <h5>Join your fellow Angularists on June 26th to tour this amazing country, in an unforgettable  day tour of Jerusalem and the Dead Sea!</h5><br>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadsea1.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/kotel.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadsea2.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/pastry.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/salad.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12  "  >
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/hummus.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row ">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-12 col-xs-12 "  >
                    <div class="card questions">
                        <h4>Itinerary</h4>
                        <h6>Make your trip even more memorable, and explore the rare beauty of Israel. Join your fellow Angularists on a magical 1 day trip to Israel’s must-see sights ! <h6>
                        <p><b>Jerusalem</b><p>
                        <p>We’ll depart at 8:30AM from Tel Aviv to start our journey with a guided tour through the ancient streets of the Old City of Jerusalem. It is a spiritual center for Judaism, Christianity and Islam -  3 main religions who peacefully co-exist inside those magical city walls. We will visit historic sites such The Church of the Holy Sepulcher, Calvary, The Western Wall and more.</p>
                        <p>After some shopping time in the famous Jerusalem’s colorful bazaars, our journey will continue south to thee Dead Sea. </p>
                        <p><b>The Dead Sea</b></p>
                        <p>From Jerusalem we will head all the way down below sea level, to the famous Dead Sea for an afternoon of relaxation. Floating in the magical Dead Sea waters, and covering your body with raw Dead Sea Mud, is known to have both relaxing and healing powers. The Dead Sea is a natural spa, containing over 300 different kinds of minerals, good for your body and your soul.<p>
                        <p>From there we shall return to Tel Aviv and be back by around 7PM.</p>

                        <p><b>Details</b></p>
                        <p>Tour cost: <b>150 EUR</b></p>
                        <p>Tour with Conference: <b>300 EUR</b></p>
                        <p>Tour includes:</p>

                          <ul style="font-size:16px">
                        <ul>
                            <li>All entrance fees</li>
                            <li>Lunch (with Vegan Friendly option)</li>
                            <li>Pick up and drop off from Zoa House</li>
                        </ul>
                            <br>
                        <p>*Tour may be purchased seperately or as a part of a package</p>
                        <p>**Based on avaliability</p>
                        <p>***Tour tickets are available for international guests only.</p>
                        <a target="_blank" href="https://angular-up.com" class="btn btn-primary waves-effect waves-button waves-light waves-float">Ticket sale will be open soon!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details
