<section id="about-israel" class="about-israel">
    <div class="content-wrapper text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
              <div class="col-md-8 col-xs-8">
                <h3>Angular Israel Tour</h3>
                <h5>Join your fellow Angularists to tour this amazing country, in an unforgettable two day tour of Jerusalem, Massada, the Dead Sea, and more.</h5><br>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadsea1.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="250">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/kotel.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadsea2.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="750">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/pastry.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/salad.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1250">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/hummus.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row same-height">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Itinerary</h4>
                        <h6>Make your trip even more memorable, and explore the rare beauty of Israel. Join your fellow Angularists on a magical 2 day trip to Israel’s must-see sights ! <h6>
                        <p><b>Jerusalem</b><p>
                        <p>We’ll depart from Tel Aviv to start our journey with a guided tour through the ancient streets of the Old City of Jerusalem. It is a spiritual center for Judaism, Christianity and Islam -  3 main religions who peacefully co-exist inside those magical city walls. We will visit historic sites such The Church of the Holy Sepulcher, Calvary, The Western Wall and more.</p>
                        <p>  We will also visit the Armenian Quarter where we will enjoy a traditional Armenian lunch.</p>
                        <p>After some shopping time in the famous Jerusalem’s colorful bazaars, our journey will continue south into the Judean Desert. </p>
                        <p><b>Traditional Bedouin Campsite</b></p>
                        <p>Our next stop will be Kfar Hanokdim. It is a green oasis shaded by palm trees and crowned with biblically inspired gardens.</p>
                        <p> Upon arrival a Bedouin host will invite us to come inside a Bedouin tent to relax around the fire and sip delicious tea spiced with desert herbs. Together we will enjoy an evening of the unique traditional Bedouin hospitality and dinner. After a fun night around the campfire, we will spend the night in an authentic Bedouin tent. </p>
                        <p><b>Massada and the Judean Desert</b></p>
                        <p>The second day of our journey will start will a rich Israeli style breakfast followed by a fun camel ride to enjoy the gorgeous view of the Judean desert.</p>
                        <p>Our next stop will be the World Heritage Site of Massada. Set atop a breathtaking rock plateau overlooking the Judean desert, Massada was constructed by King Herod the Great in around 37 to 31 BC. Massada was the last Jewish stronghold to fall to the Romans in 73 AD, a place that symbolizes the exile of the Jews from the Holy Land. It’s remarkable ruins and breathtaking view of the Judean Desert and the Dead Sea will surely be an unforgettable experience. </p>
                        <p><b>The Dead Sea</b></p>
                        <p>From Massada we will head all the way down below sea level, to the famous Dead Sea for an afternoon of relaxation. Floating in the magical Dead Sea waters, and covering your body with raw Dead Sea Mud, is known to have both relaxing and healing powers. The Dead Sea is a natural spa, containing over 300 different kinds of minerals, good for your body and your soul.<p>
                        <p>From there we shall return to Tel Aviv, filled with amazing memories, and ready for a great conference the next day.</p>

                        <p><b>Details</b></p>
                        <p>Tour cost: <b>300 EUR</b></p>
                        <p>Tour includes:</p>

                          <ul style="font-size:16px">
                        <ul>
                            <li>All entrance fees</li>
                            <li>Lunch and dinner on the 1st day (with Vegan Friendly option)</li>
                            <li>Breakfast and lunch on the 2nd day (with Vegan Friendly option) </li>
                            <li>Overnight stay in Kfar Hanokdim</li>
                            <li>Pick up and drop off from Arkadia Tower Hotel</li>
                        </ul>
                            <br>
                        <p>*Tour may be purchased seperately or as a part of a package</p>
                        <p>**Based on avaliability</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Travel Packages</h4>
                        <h6>Visiting Israel? Choose one of the following packages for the ideal mix of business and pleasure! <h6>
                        <p><b>Tour Combo</b><p>
                        <p>Explore the rare beauty of Israel with your Angularists friends!</p>
                        <p>Package includes:</p>

                          <ul style="font-size:16px">
                        <ul>
                            <li>Angular Israel Tour (June 23rd+24th) - Pick up from Arkadia Tower Hotel</li>
                            <li>AngularUP conference ticket (June 25th)</li>
                        </ul>
                        <br>
                        <p><b>Full Combo</b></p>
                        <p>Ideal package for an Angularist traveling solo! </p>
                        <p>Package includes:</p>

                          <ul style="font-size:16px">
                        <ul>
                            <li>Thursday night stay (June 22nd) at Arkadia Tower Hotel incl. Breakfast in a single room</li>
                            <li>Angular Israel Tour (June 23rd+24th) - Pick up from Arkadia Tower Hotel</li>
                            <li>Saturday night stay (June 24th) at Arkadia Tower Hotel incl. Breakfast  in a single room</li>
                            <li>AngularUP conference ticket (June 25th)</li>
                            <li>Sunday night stay (June 25th) at Arkadia Tower Hotel incl. Breakfast in a single room</li>
                        </ul>
                        <p>**Based on avaliability</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details
