<section id="about-israel" class="about-israel">
    <div class="content-wrapper text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
              <div class="col-md-8 col-xs-8">
                <h3>Angular Israel Tour</h3>
                <h5>Join your fellow Angularists to tour this amazing country, in a one day tour of Jerusalem and the dead sea.</h5><br>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadsea.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="250">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/deadseafloat.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/jerusalemdome.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="750">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/pastry.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/salad.jpg">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="1250">
                    <div class="card">
                      <img src="{{ site.baseurl }}/img/tour/hummus.jpg">
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        <h4>Itinerary</h4>
                        <p><b>Jerusalem</b><p>
                        <p>The tour starts with a breathtaking view of Jerusalem as seen from atop Mount Olives, looking down at the Old City and the Temple Mount.</p>
                        <p>Travel along the Kidron Valley to view the Garden of Gethsemane and the Church of all Nation. Drive to Mount Zion, to visit King David's tomb, Room of last supper and the Dormition Abbey.</p>
                        <p>Enter the Old City and walk through the Armenian and Jewish quarters to the recently excavated and restored Cardo, the Roman road.  See the Jewish Wailing Wall, the Kotel, and continue via the local Bazaar to the Christian Quarter, the Stations of the Cross(Via Dolorosa) and the church of the Holy Sepulchre - the site of the crucifixion.</p>
                        <p><b>The Dead Sea</b></p>
                        <p>Leaving Jerusalem we descend to the Judean desert, moving past Jericho to the northern coast of the Dead Sea. </p>
                        <p>We will stop for an amazing authentic lunch (included) with a view of the Dead Sea and then proceed to one of the beachs.</p>
                        <p>There we can swim and float in the sea's unique waters enriched with minerals and bath in the special mud of the Dead Sea shore.</p>

                        <p><b>Details</b></p>
                        <p>The trip will be a full day event 9am - 6pm.</p>
                        <p>Registration is separate from the event and you can get your ticket here</p>

                        <p>More details soon</p><!-- TODO: Add button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details