<!-- Begin Tickets Section -->
<section id="tickets" class="tickets packages-tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Mix Business With Pleasure</h3>
			<h5>Combine a great conference with a magical tour to explore the rare beauty of Israel!</h5><br/>
			<h4>Travel packages are avaliable from ~300 EUR</h4><br/> 
       <a href="/tour" class="btn btn-primary waves-effect waves-button waves-light waves-float">Click here for more info</a>         
		</div>
		
	</div>
</section>
<!-- End Tickets Section -->
