.subscribe {
    .hbspt-form {
        display: inline-block;
        margin-top: 40px;
        iframe {
            width: 410px !important;
            height: 380px !important;
            background: rgba(255,255,255,0.8);
            padding: 20px;
            border-radius: 3px;
            max-width: 100%;
        }
    }
    .email {
        width: 100%;
        height: 53px;
        margin-bottom: 16px;
        transition: $base-transition;
        input {
            width: 100%;
            height: 100%;
            outline: none;
            font-size: 16px;
        }
    }
    .button {
        @extend .email;
        input {
            text-transform: uppercase;
        }
    }
}
.mc-field-group {
    padding-right: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.mc-submit-group {
    padding-left: 3px;
    @media (max-width: 767px) {
        padding: 0;
    }
}
.subscribe-info {
    font-weight: $light;
}
